@import "zero";
.contact-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  .contact-item input {
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: 1px solid #737171;
    padding-left: 5px;
  }
  .contact-item label {
    font-size: 20px;
    margin-bottom: 5px;
    padding-left: 2px;
    display: block;
  }
}