/* *** Zero *** */
* {
    padding: 0;
    margin: 0;
    border: 0;
    user-select: none;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    touch-action: pan-x pan-y;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  body{
    margin: 0px auto;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
  }

  .content__album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:30px 0px 0px 20px;
  }

  h2{
    display: block;
    position: relative;
    top: -400px;
    left: 440px;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    color:wheat;
    line-height: 20px;
  }

  .album_list{
    display: block;
    position: relative;
    top: -360px;
    left: 440px;
    color:wheat;
  }

  .album_list li{
    margin-bottom: 35px;
    font-size: 24px;
    font-family: 'Purple Purse', sans-serif;
  }

  p{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    color:wheat;
  }

  img{
    width: 400px;
    height: 400px;
  }
 
  @keyframes animate__flip{
    from{
      width:400px ;
    }
    to{
      width:600px;
    }

  }

  .animate__flip{
    animation: animate__flip 3s ease 3s;
  }

.animate__flipInY{
  animation: animate__flipInY 10s ease 2s;
}

.animate__rotateIn, .animate__lightSpeedInLeft{
  animation: 3s ease 3s;
}

.animate__lightSpeedInRight, .animate__jackInTheBox{
  animation: 1s ease 4s;
}

.animate__hinge{
  animation: 1s ease 2s;
}