/* *** Zero *** */
* {
    padding: 0;
    margin: 0;
    border: 0;
    user-select: none;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    touch-action: pan-x pan-y;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }

  @-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.content-album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  background-position:center;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/img/bg.jpg');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.album_info {
  margin-top:20px;
}

h2 {
  display: block;
  position: relative;
  top: -400px;
  left: 440px;
  font-size: 30px;
  font-family:'Roboto', sans-serif;
  color:wheat;
  line-height: 20px;
  text-decoration: underline;
}

.album_list {
  display: block;
  position: relative;
  top: -360px;
  left: 470px;
  color:wheat;
}

.album_list li {
  margin-bottom: 35px;
  font-size: 24px;
  font-family: 'Purple Purse', sans-serif;
}

p {
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  color:wheat;
}

.rammstein_image {
  width: 400px;
  height: 400px;
  opacity: 0.9;
  transform: translateY(-50%);
  position: relative;
  top: 200px;
  left: 10px;
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  margin-top:50px;
}
 
.animate__flipInY {
  animation: 10s ease 2s;
  opacity: 0.9;
}

.animate__rotateIn, .animate__lightSpeedInLeft {
  animation: 3s ease 3s;
}

.animate__lightSpeedInRight, .animate__jackInTheBox {
  animation: 1s ease 4s;
}

.animate__hinge {
  animation: 1s ease 2s;
}
