.header {
  padding: 5px 0;
  .header-wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    justify-items: center;
    align-items: center;
  }
  &__logo {
    img {
      width: 60px;
      height: 60px;
    }
  }
  &__nav {
    ul {
      display: flex;
      gap: 20px;
      a {
        color: #838181;
        font-size: 20px;
      }
    }
  }
  &__cta {
    button {
      background-color: #c4cbff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 40px;
      font-size: 16px;
      border-radius: 40px;
      color: #343333;
    }
  }
  &__burger-menu {
    display: none;
  }
}