@import "_zero", "_buttons", "_section_mobile", "_header" ;

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

#home {
  position: relative;
  height: 100vh;
}
.background {
  z-index: -1;
  top: -71px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/home.jpeg);
  mix-blend-mode: normal;
  opacity: 0.3;
  backdrop-filter: blur(20px);
}

/* *** CONTACTS *** */

.first-name {
  grid-area: first-name;
}
.last-name {
  grid-area: last-name;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.message {
  grid-area: message;
}
.button {
  grid-area: button;
}

#contacts form .contacts-form__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  grid-template-areas: "first-name message"
                         "last-name message"
                         "email message"
                         "phone button";
}

#contacts form .contacts-form__items .contacts-form__item {
  display: flex;
  flex-direction: column;
}
#contacts form .contacts-form__items label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #646464;
}
#contacts form .contacts-form__items input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: #FFF;
  border: 1px solid #E1E2E4;
  border-radius: 5px;
  padding-left: 5px;
}
#contacts form .contacts-form__items textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #FFF;
  border: 2px solid #E1E2E4;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
#contacts form .contacts-form__items button {
  box-sizing: border-box;
  width: 292px;
  height: 40px;
  background: #40A3F8;
  border: 1px solid #E1E2E4;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
#contacts form .contacts-form__items .button {
  display: block;
}
#contacts form .contacts-form__items .button label {
  display: inline-block;
  float: left;
  height: 40px;
  margin: 10px 10px 10px 0;
  line-height: 35px;
}
#contacts form .contacts-form__items .button input {
  display: block;
  width: 49%;
  float: left;
  margin: 15px 0;
  height: 20px;
}
#contacts form .contacts-form__items .button button {
  display: block;
  width: 50%;
  margin: 0 auto;
  transition: all 0.5s;
}
#contacts form .contacts-form__items .button button:hover {
  background: #2c5477;

}

.content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
  flex-direction: column;
}
.content h1 {
  font-size: 30px;
  position: relative;
  display: flex;
  color: black;
  justify-content: center;
}
.content h1:after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
}
.content h1:before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: -5px;
}

.content button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: #40A3F8;
  color: #FFFFFF;
  font-size: 20px;
  transition: 1s;
}

.content button:hover {
  color: red;
}

.first span:not(.classy) {
  background-color: lime;
}
