* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: pan-x pan-y;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

#section1,
#section2,
#section3,
#section4 {
  width: 100%;
  height: 600px;
}

#section1 {
  background-color: red;
}

#section2 {
  background-color: yellow;
}

#section3 {
  background-color: black;
}

#section4 {
  background-color: blue;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

header nav ul {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  display: flex;
}

header nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul a:before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}