* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: pan-x pan-y;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  display: block;
  width: 50px;
  height: 30px;
  background-color: #2c5477;
}

.apps {
  background-color: #e5ecf8;
  width: 100%;
  height: auto;
}

.apps__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.apps__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps__img img {
  width: 100%;
  height: auto;
}

.apps__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.apps__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}

.apps__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}

.apps__market-links {
  display: flex;
  align-content: flex-start;
  width: 100%;
}

@media (max-width: 768px) {
  .apps__wrapper {
    padding: 0 15px;
    grid-template-columns: 1fr;
  }

  .apps__content {
    min-height: 350px;
  }

  .apps__content .apps__description {
    margin: 30px 0;
  }

  .apps__content .apps__description p {
    text-align: justify;
  }

  .apps__content .apps__market-links {
    justify-content: center;
    margin-bottom: 20px;
  }

  .apps__content .apps__market-links img {
    max-width: 290px;
  }
}

.header {
  height: 56px;
  margin-top: 15px;
  display: flex;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo a {
  max-width: 201px;
  width: 100%;
  height: 47px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  letter-spacing: 1px;
  color: #40A3F8;
}

.header__main-menu {
  max-width: 921px;
  width: 100%;
}

.header__main-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 56px;
}

.header__main-menu .main-menu__item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6E5F5F;
  mix-blend-mode: normal;
  opacity: 0.3;
  margin: 0 26px;
}

.header__main-menu .main-menu__item_active a {
  color: #40A3F8;
  opacity: 1;
}

.header__get-started {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__get-started a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 47px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: #40A3F8;
  border-radius: 5px;
  margin-left: 26px;
}

.header__burger-menu {
  display: none;
  align-items: center;
  padding: 0 15px;
}

.header__burger-menu .burger-menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.header__burger-menu span {
  margin: auto;
  width: 25px;
  height: 2px;
  background-color: black;
}

.header__burger-menu span:before {
  content: "";
  position: absolute;
  width: 12.5px;
  height: 2px;
  background-color: black;
  transform: translateY(-8px);
  transition: 0.4s;
}

.header__burger-menu span:after {
  content: "";
  position: absolute;
  width: 12.5px;
  margin-left: 12.5px;
  height: 2px;
  background-color: black;
  transform: translateY(8px);
  transition: 0.4s;
}

.header__burger-menu_active span {
  height: 0;
}

.header__burger-menu_active span:before {
  transform: rotate(45deg);
  width: 25px;
}

.header__burger-menu_active span::after {
  transform: rotate(-45deg);
  width: 25px;
  margin-left: 0;
}

.header_active {
  margin-bottom: 200px !important;
  overflow: unset;
}

.header_active .header__main-menu {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  height: 220px;
  background-color: #fff;
  padding: 30px 15px;
  transition: 1s;
}

.header_active .header__main-menu ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  transition: 1s;
}

.header_active .header__main-menu ul li {
  margin: 10px;
}

@media (max-width: 768px) {
  .header__burger-menu {
    display: flex;
  }

  .header__main-menu {
    display: none;
    height: 0;
  }

  .header__get-started {
    width: 100%;
    justify-content: flex-end;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

#home {
  position: relative;
  height: 100vh;
}

.background {
  z-index: -1;
  top: -71px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/home.jpeg);
  mix-blend-mode: normal;
  opacity: 0.3;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/* *** CONTACTS *** */
.first-name {
  grid-area: first-name;
}

.last-name {
  grid-area: last-name;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}

.message {
  grid-area: message;
}

.button {
  grid-area: button;
}

#contacts form .contacts-form__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 30px;
  column-gap: 30px;
  grid-template-areas: "first-name message""last-name message""email message""phone button";
}

#contacts form .contacts-form__items .contacts-form__item {
  display: flex;
  flex-direction: column;
}

#contacts form .contacts-form__items label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #646464;
}

#contacts form .contacts-form__items input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: #FFF;
  border: 1px solid #E1E2E4;
  border-radius: 5px;
  padding-left: 5px;
}

#contacts form .contacts-form__items textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #FFF;
  border: 2px solid #E1E2E4;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

#contacts form .contacts-form__items button {
  box-sizing: border-box;
  width: 292px;
  height: 40px;
  background: #40A3F8;
  border: 1px solid #E1E2E4;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

#contacts form .contacts-form__items .button {
  display: block;
}

#contacts form .contacts-form__items .button label {
  display: inline-block;
  float: left;
  height: 40px;
  margin: 10px 10px 10px 0;
  line-height: 35px;
}

#contacts form .contacts-form__items .button input {
  display: block;
  width: 49%;
  float: left;
  margin: 15px 0;
  height: 20px;
}

#contacts form .contacts-form__items .button button {
  display: block;
  width: 50%;
  margin: 0 auto;
  transition: all 0.5s;
}

#contacts form .contacts-form__items .button button:hover {
  background: #2c5477;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
  flex-direction: column;
}

.content h1 {
  font-size: 30px;
  position: relative;
  display: flex;
  color: black;
  justify-content: center;
}

.content h1:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
}

.content h1:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: -5px;
}

.content button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: #40A3F8;
  color: #FFFFFF;
  font-size: 20px;
  transition: 1s;
}

.content button:hover {
  color: red;
}

.first span:not(.classy) {
  background-color: lime;
}

.mental-health {
  padding: 30px 0 50px;
}

.mental-health__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  text-align: center;
  margin: 0 auto 30px;

}

.mental-health__wrp {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}

.mental-health__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}

.mental-health__img {
  display: block;
}

.mental-health__text.animate__animated.animate__backInLeft,
.mental-health__img.animate__animated.animate__backInRight {
  --animate-duration: 5s;
}

.mental-health__title.animate__animated.animate__flash {
  --animate-duration: 4s;
}

@media(max-width:768px) {
  .mental-health {
    padding: 15px 10px 15px;
  }

  .mental-health__wrp {
    flex-direction: row-reverse;
  }
}

@media(max-width:425px) {
  .mental-health__wrp {
    flex-direction: column-reverse;
  }

}